body {
  margin: 0;
  background: #f5f5f5;
  color: #111;
  font-family: "MS Gothic", monospace;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
  scroll-snap-align: start;
  font-size: 18px;
  line-height: 1.8;
  padding: 20px;

  box-sizing: border-box;
  overflow: hidden;   /* ★これ重要 */
}


/* 下に行くほど異常 */
.glitch {
  letter-spacing: 2px;
}

.numbers {
  font-size: 13px;
  color: #444;
}

.end {
  font-size: 14px;
  color: #333;
}





